{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-md-12">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">{{ b.name }}</li>
  </ol>
  <a href="/article/create/{{ b.id }}" class="btn btn-primary">发表文章</a>
  <br />
  <br />
  <table class="table table-bordered">
    <thead>
      <tr>
      	<th>标题</th>
      	<th>作者</th>
      	<th>创建时间</th>
      	<th>最后更新时间</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td><a href="/article/detail/{{ article.id }}">{{ article.title }}</a></td>
      	<td>{{ article.owner.username }}</td>
      	<td>{{ article.create_timestamp|date:"Y-m-d P" }}</td>
      	<td>{{ article.last_update_timestamp|date:"Y-m-d P" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      {% if has_previous %}
      <li>
      <a href="?page_no=1" aria-label="Previous">
          <span aria-hidden="true">首页</span>
        </a>
      </li>
      <li>
        <a href="?page_no={{ previous_link }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for no in page_links  %}  
        <li{% if current_no == no %} class="active"{% endif %}>
          <a href="?page_no={{ no }}">{{ no }}</a>
        </li>
      {% endfor %}
      {% if has_next %}
      <li>
        <a href="?page_no={{ next_link }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li>
        <a href="?page_no={{ page_cnt }}" aria-label="Next">
          <span aria-hidden="true">尾页</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
