{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-md-10">
  {% for b in blocks %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="/article/list/{{ b.id }}" style="font-size: 16px;">{{ b.name }}</a>
      <span class="pull-right">{{ b.manager }}</span>
    </div>
    <div class="panel-body">
      {{ b.desc }}
    </div>
  </div>
  {% endfor %}
</div>
<div class="col-xs-12 col-md-2">
  <div class="well">
    {% if user.is_authenticated %}  
      <p>{{ user.username }}. 欢迎来到论坛.</p>
      <a href="/accounts/logout">登出</a>
    {% else %}               
      <p>匿名用户. 请<a href="/accounts/login">登录</a>.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
